* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.body {
    color: darkslateblue;
    font-family: arial;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.recipe_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: -20px;
    border: 5px;
    border-radius: 200px;
}

.header {
    color: darkslateblue;
    font-size: 55px;
    text-align: center;
    background-color: aliceblue;
    padding: 10px 5px 10px 5px;
    border: 3px solid darkslateblue;
    border-radius: 2500px;
}

.smaller {
    font-size: 25px;
    width: 300px;
}

.list_section {
    margin-top: -50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
    text-align: center;
}

.list_item {
    background-color: darkslateblue;
    width: 500px;
    height: auto;
    display: inline-block;
    border-radius: 2500px;
    padding: 30px;
    margin: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.list_item:hover {
    background-color: darkgray;
}

.content {
    margin-left: 10px;
    margin-top: -10px;
}

.recipe_list {
    margin-top: -20px;
}

a {
    color: aliceblue;
    text-decoration: none;;
}

.back_button {
    background-color: darkslateblue;
    font-size: 20px;
    padding: 5px 10px;
    border: 0px;
    margin-top: 20px;
    border-radius: 200px;
}

.back_button:hover{
    background-color: darkgray;   
}